#stream-div {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-left: 5px;
    margin-right: 5px;
}

#phone-imitation {
    background-color: #0c111e;
    border-radius: 30px;
}

.canvas-buttons {
    width: 33.33%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}