#stream-div {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-left: 5px;
    margin-right: 5px;
}

#phone-imitation {
    background-color: #9ba984;
    border-radius: 30px;
}