/* ======== */


.info {
    font-size: 15px;
}

.filters-stack {
    height: 40px;
    margin-left: 24px;
}

#selection-wrapper {
    width: 80%;
    margin-top: 10px;
}

#top-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
}