#search-input {
    border: none;
    font-size: 16px;
    height: 100%;
    border-bottom: 5px solid #f5be4a;
    margin-left: 10px;
    background-color: #f5be4a;
}

#search-input:focus {
    outline: none;
    border-bottom: 5px solid #f5be4a;
}

#search-wrapper {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#image-wrapper {
    justify-content: center;
    align-items: center;
}