#search-input {
    border: none;
    font-size: 16px;
    height: 100%;
    border-bottom: 2px solid rgba(60, 104, 230, 0.5);
    margin-left: 10px;
}

#search-input:focus {
    outline: none;
    border-bottom: 2px solid #3c68e6;
}

#search-wrapper {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#image-wrapper {
    justify-content: center;
    align-items: center;
}