@charset "utf-8";

.modal {
  display: none;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  overflow: inherit;
  overflow-y: inherit;
  text-align: center;
  word-wrap: break-word;
}