@charset "utf-8";
/* CSS Document */
table,
	td,
	th {
		border: 1px solid #ddd;
		text-align: center;
	}

	table {
		border-collapse: collapse;
		width: 100%;
	}

	th,
	td {
		padding: 15px;
	}

	.clsInfoButtons {
		display: inline-block;
		display: grid;
		gap: 10px;
		font-size: 14px;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #fff;
		background-color: #4CAF50;
		border: none;
		border-radius: 6px;
		box-shadow: 0 3px #999;
		margin: 8px;
		padding: 2px 5px 2px 5px;
	}

	.clsInfoButtons:hover {
		background-color: #3e8e41
	}

	.clsInfoButtons:active {
		background-color: #3e8e41;
		box-shadow: 0 5px #666;
		transform: translateY(4px);
	}

	.clsRestartButton {
		font-size: 14px;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #fff;
		background-color: #da492a;
		border: none;
		border-radius: 6px;
		box-shadow: 0 3px #999;
		margin: 8px;
		padding: 2px 5px 2px 5px;
		width: 80px;
	}

	.clsRestartButton:hover {
		background-color: #da322a
	}

	.clsRestartButton:active {
		background-color: #da492a;
		box-shadow: 0 5px #666;
		transform: translateY(4px);
	}

	#loading {
    visibility: hidden;
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		text-align: center;
		opacity: 0.7;
		background-color: #fff;
		z-index: 99;
	}

	#loading-image {
		position: relative;
	}

	.hidden {
		display: none;
	}

	.modal {
		display: none;
		z-index: 1;
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: rgb(0, 0, 0);
		background-color: rgba(0, 0, 0, 0.4);
		overflow: inherit;
		overflow-y: inherit;
		text-align: center;
		word-wrap: break-word;
	}

	.modal:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -4px;
	}

	.modal-dialog {
		padding: 0;
		display: inline-block;
		text-align: left;
		vertical-align: middle;
		width: 50%;
		height: 60%;
	}

	.modal-content {

		border: 1;
		border-radius: 0;
		background-color: #fefefe;

	}

	.modal-header {
		border: 1;
		padding: 0;
		position: relative;
	}

	.modal-content p {
		padding: 0 20px;
	}

	.modal-body {
		padding: 10px 10px 10px 10px;
		height: 450px;
		overflow: auto;
		white-space: pre-wrap;
	}

	.modal-footer {
		background-color: #fefefe;
		height: 40px;
	}

  #modal-close-button {
    font-size:18px;
    height:26px;
    margin-left:7px;
    margin-top:7px;
  }

  #refresh-logs-button {
    font-size:20px;
    height:26px;
    margin-top:7px;
  }