body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
	overflow: hidden;
	background-color: #bdc7c3;
	height: 50px;
	border-bottom: 1px solid #000;
  }
  
  .topnav a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .topnav a.active {
	background-color: #32dbb8;
	color: black;
  }