.device-box {
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    height: 340px;
    background-color: #9ba984;
}

.status-box {
    background-color: #f4e6cd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.logo-box {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.info-list {
    width: 100%;
    max-width: 500px;
}

.info-text {
    font-size: 14px;
}

.automation-status {
    width: 240px;
    color: orange;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.in-use-status {
    width: 240px;
    color: orange;
    font-weight: bold;
}

.available-status {
    width: 240px;
    color: green;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.offline-status {
    width: 240px;
    color: red;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.spinner {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #9ba984;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.device-buttons {
    margin: 10px;
    background: #f4e6cd;
    color: #2f3b26;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    position: relative;
    border: 2px solid #2f3b26;
    font-weight: bold;
}

.device-buttons:hover {
    cursor: pointer;
    background: #2f3b26;
    color: #9ba984;
}

.device-buttons:disabled {
    background: #878a91;
    color: #f4e6cd;
}

.device-buttons:disabled:hover {
    background: #878a91;
    color: #f4e6cd;
}

.device-buttons .in-use {
    background-color: #878a91;
}