#search-input {
    border: none;
    font-size: 16px;
    margin-left: 10px;
    height: 40px;
    border-bottom: 2px solid black;
    background-color: #E0D8C0;
    color: black;
}

#search-input:focus {
    outline: none;
}

#search-wrapper {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

#image-wrapper {
    justify-content: center;
    align-items: center;
}