#search-input {
    border: none;
    font-size: 16px;
    margin-left: 10px;
    height: 40px;
    border-bottom: 2px solid black;
    background-color: #78866B;
    color: #0c111e;
}

#search-input:focus {
    outline: none;
}

#search-wrapper {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

#image-wrapper {
    justify-content: center;
    align-items: center;
}

.custom-placeholder::placeholder {
    color: #0c111e;
    font-weight: bold;
}

.custom-placeholder::-ms-input-placeholder { /* Microsoft Edge */
    color: #0c111e;
    font-weight: bold;
}