#app-select {}

#install-box {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#install-button {
    width: 50%;
}

#form-control {
    display: flex;
}