.badgeContainer {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    gap: 8px;
    padding: 4px 10px;

    border-radius: 16px;

    width: max-content;
    align-self: center;

    .badgeBase {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        padding: 2px 8px;

        border-radius: 16px;

        span {
            font-size: 12px;
        }
    }

    .badgeContent {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        span {
            font-size: 12px;
            font-weight: 500;
        }
    }

    &.error {
        background: var(--red-300);

        .badgeBase {
            background: var(--red-700);
            
            span {
                color: var(--red-300);
            }
        }

        .badgeContent {
            span {
                color: var(--red-600);
            }
        }
    }

    &.alert {
        background: var(--yellow-100);

        .badgeBase {
            background: var(--yellow-500);
            
            span {
                color: var(--white);
            }
        }

        .badgeContent {
            span {
                color: var(--yellow-700);
            }
        }
    }
}