.top-wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #273616;
    width: 100vw;
    /* 100% of the viewport width */
    height: 100vh;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.fancy-wrapper {
    width: 30%;
    height: 500px;
    background-color: #E0D8C0;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

#funky-div {
    background: rgb(210, 158, 94);
    background: linear-gradient(342deg, rgba(210, 158, 94, 1) 12%, rgba(130, 150, 11, 1) 55%, rgba(164, 255, 0, 1) 100%);
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}