.top-wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #f4e6cd;
    width: 100vw;
    /* 100% of the viewport width */
    height: 100vh;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.fancy-wrapper {
    width: 30%;
    height: 500px;
    background-color: #9ba984;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

#funky-div {
    background: #9ba984;
    background: linear-gradient(62deg, rgba(38,199,127,1) 0%, rgba(200,137,0,1) 100%);
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}