{{define "device_selection_table"}}
{{range .}}
<li
  style="width: 200px; height: 450px;border: 1px solid #eaeaf1;display: inline-block;margin-right: 10px;margin-bottom: 10px;text-align: center;">
  <div class="device-image" style="margin-top: 30px;margin-bottom: 10px;">
    {{ if contains .OS "ios" }}
    {{ if eq .Image ""}}
    <img src="/static/images/devices/default-apple.png" style="height: 300px;">
    {{else}}
    <img src="/static/images/devices/{{.Image}}" style="height: 300px;">
    {{end}}
    {{else}}
    {{ if eq .Image ""}}
    <img src="/static/images/devices/default-android.png" style="height: 300px;">
    {{else}}
    <img src="/static/images/devices/{{.Image}}" style="height: 300px;">
    {{end}}
    {{end}}
  </div>
  <div class="device-title" style="margin-bottom: 10px;">{{.Model}}</div>
  <div class="device-version" style="margin-bottom: 10px;">Version: {{.OSVersion}}</div>
  <form method="post" action="/devices/control/{{.UDID}}" class="inline">
    {{if .InUse}}
    <button class="use-device" type="submit" style="background-color: #fcb103" disabled>In use</button>
    {{else if .Connected}}
    <button class="use-device" type="submit">Use device</button>
    {{else}}
    <button class="use-device" type="submit" disabled>N/A</button>
    {{end}}
  </form>
</li>
{{end}}
{{end}}