<html>

<head>
    <meta charset="UTF-8">
    <title>Device Control</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.38.1/skin-lion/ui.fancytree.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<style>
    .device-info-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        text-align: center;
        border-bottom: 1px solid #000000;
        padding-bottom: 5px;
    }

    .device-info-value {
        font-weight: 600;
        margin-top: 2px;
    }

    #device-info {
        padding: 5px;
        margin-top: 2px;
    }

    .action-buttons {
        border-bottom: 1px solid #000000;
        background-color: #32dbb8;
        text-align: center;
        padding: 10px;
        border-radius: 4px;
    }

    .action-buttons:hover {
        background-color: #e8e23f;
        cursor: pointer;
    }

    .fa {
        size: 30px;
    }

    .action-buttons-text {
        user-select: none;
    }

    #device-tools {
        border-radius: 3px;
        min-height: 100px;
        overflow: hidden;
        margin-right: 10px;
        margin-left: 10px;
        width: 250px;
    }

    #container-div {
        display: flex;
        margin-top: 10px;
        margin-left: 10px;
        align-items: flex-start;
    }

    #stream-div {
        margin-right: 10px;
        position: relative;
        border: 1px solid #000;
    }

    #inspector-source {
        width: 500px;
        display: flex;
        flex-direction: column;
        border: 1px solid #000;
    }

    #app-source {
        width: 100%;
        margin-left: 10px;
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #ffffff;
    }

    ul.fancytree-container {
        border: none;
    }

    span.fancytree-title {
        font-size: 18px;
    }

    .element-info-values {
        font-weight: 600;
        text-align: left;
        max-width: 75%;
    }

    .element-info-keys {
        text-align: center;
        width: 25%;
    }

    .element-info {
        padding: 3px;
        display: flex;
        flex-direction: row;
    }

    #source-container {
        height: 550px;
        display: flex;
        flex-direction: column;
    }

    .app-source-titles {
        top: 0;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        background-color: #32dbb8;
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
        padding: 5px;
    }

    #app-source-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5px;
        height: 50px;
        background-color: #bdc7c3;
    }

    #element-info-container {
        display: flex;
        flex-direction: column;
    }

    #element-info-holder {
        overflow-y: scroll;
        background-color: #bdc7c3;
    }

    #source-loading {
        display: none;
        height: 100%;
        width: 100%;
    }
    
    .device-buttons {
        height: 60px;
        width: 100%;
        font-size: 15px;
    }
</style>

<body>
    <div class="topnav">
        <link href="/static/css/top_navigation_style.css" rel="stylesheet">
        <a href="/">Home</a>
        <a href="/logs">Logs</a>
        <a class="active" href="/devices/control/{{.ContainerDeviceConfig.DeviceUDID}}">Device Control</a>
        <a href="swagger/index.html" target="_blank">Swagger</a>
    </div>
    <div id="container-div">
        <div>
            <button class="action-buttons" id="back-to-devices" onclick="location.href = '/devices';"><i class="fa-solid fa-left-long"></i>
                Back to devices</button>
        </div>
        <div id="device-tools">
            <div>
                <button class="device-buttons action-buttons" id="home-screen"><i class="fa-solid fa-home"></i> Homescreen</button>
            </div>
            <div>
                <button class="device-buttons action-buttons" id="lock-device"><i class="fa-solid fa-lock"></i> Lock device</button>
            </div>
            <div>
                <button class="device-buttons action-buttons" id="unlock-device"><i class="fa-solid fa-unlock"></i> Unlock device</button>
            </div>
            <div>
                <button class="device-buttons action-buttons" id="type-text"><i class="fa-solid fa-pencil"></i> Type text</button>
                <input type="text" id="type-text-input" style="width: 100%;" placeholder="Type text here">
            </div>
            <div>
                <button class="device-buttons action-buttons" id="clear-text"><i class="fa-solid fa-eraser"></i> Clear text</button>
            </div>
            <div id="device-info">
                <div class="device-info-row">
                    <div>OS:</div>
                    <div class="device-info-value">{{.ContainerDeviceConfig.DeviceOSVersion}}</div>
                </div>
                <div class="device-info-row">
                    <div>UDID:</div>
                    <div class="device-info-value">{{.ContainerDeviceConfig.DeviceUDID}}</div>
                </div>
                <div class="device-info-row">
                    <div>Device server:</div>
                    <div class="device-info-value">
                        {{.ContainerDeviceConfig.DeviceHost}}:{{.ContainerDeviceConfig.DeviceContainerServerPort}}</div>
                </div>
                <div class="device-info-row">
                    <div>Appium URL:</div>
                    <div class="device-info-value">
                        {{.ContainerDeviceConfig.DeviceHost}}:{{.ContainerDeviceConfig.DeviceAppiumPort}}</div>
                </div>
                {{ if eq .ContainerDeviceConfig.DeviceOS "ios"}}
                <div class="device-info-row">
                    <div>WebDriverAgent URL:</div>
                    <div class="device-info-value">
                        {{.ContainerDeviceConfig.DeviceHost}}:{{.ContainerDeviceConfig.WdaPort}}
                    </div>
                </div>
                {{end}}
            </div>
        </div>
        <div id="stream-div">
            <canvas id="actions-canvas"
                style="position: absolute;width: {{.CanvasWidth}};height: {{.CanvasHeight}};"></canvas>
            {{ if eq .ContainerDeviceConfig.DeviceOS "ios"}}
            <img src="http://{{.ContainerDeviceConfig.DeviceHost}}:{{.ContainerDeviceConfig.StreamPort}}"
                id="image-stream" style="width: {{.CanvasWidth}}px;height: {{.CanvasHeight}}px;"></img>
            {{else}}
            <img src="http://{{.ContainerDeviceConfig.DeviceHost}}:{{.ContainerDeviceConfig.DeviceContainerServerPort}}/stream"
                id="image-stream" style="width: {{.CanvasWidth}}px;height: {{.CanvasHeight}}px;"></img>
            {{end}}
        </div>
        <div id="inspector-source">
            <div id="app-source-buttons">
                <div style="margin-right: 10px;">
                    <button class="action-buttons" id="refresh-source"><i class="fa-solid fa-rotate"></i> Get source</button>
                </div>
                <div>
                    <button class="action-buttons" id="wipe-canvas"><i class="fa-solid fa-broom"></i> Wipe canvas</button>
                </div>
            </div>

            <div id="source-container">
                <div class="app-source-titles">App source</div>
                <div id="source-loading">
                    <img style="object-fit: contain; height: 100%;" src="/static/images/gears.gif">
                </div>
                <div style="overflow: auto;">
                    <div id="app-source"></div>
                </div>
            </div>
            <div id="element-info-container">
                <div class="app-source-titles">Element info</div>
                <div id="element-info-holder">
                    {{if eq .ContainerDeviceConfig.DeviceOS "ios"}}
                    <div class="element-info">
                        <div class="element-info-keys">type</div>
                        <div class="element-info-values" id="element-type">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">name</div>
                        <div class="element-info-values" id="element-name">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">label</div>
                        <div class="element-info-values" id="element-label">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">visible</div>
                        <div class="element-info-values" id="element-visible">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">enabled</div>
                        <div class="element-info-values" id="element-enabled">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">value</div>
                        <div class="element-info-values" id="element-value">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">x</div>
                        <div class="element-info-values" id="element-x">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">y</div>
                        <div class="element-info-values" id="element-y">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">width</div>
                        <div class="element-info-values" id="element-width">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">height</div>
                        <div class="element-info-values" id="element-height">none</div>
                    </div>
                    {{else}}
                    <div class="element-info">
                        <div class="element-info-keys">index</div>
                        <div class="element-info-values" id="element-index">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">resource-id</div>
                        <div class="element-info-values" id="element-resourceid">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">package</div>
                        <div class="element-info-values" id="element-package">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">class</div>
                        <div class="element-info-values" id="element-class">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">text</div>
                        <div class="element-info-values" id="element-text">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">checkable</div>
                        <div class="element-info-values" id="element-checkable">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">checked</div>
                        <div class="element-info-values" id="element-checked">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">clickable</div>
                        <div class="element-info-values" id="element-clickable">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">enabled</div>
                        <div class="element-info-values" id="element-enabled">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">focusable</div>
                        <div class="element-info-values" id="element-focusable">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">focused</div>
                        <div class="element-info-values" id="element-focused">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">long-clickable</div>
                        <div class="element-info-values" id="element-long-clickable">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">password</div>
                        <div class="element-info-values" id="element-password">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">scrollable</div>
                        <div class="element-info-values" id="element-scrollable">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">selected</div>
                        <div class="element-info-values" id="element-selected">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">bounds</div>
                        <div class="element-info-values" id="element-bounds">none</div>
                    </div>
                    <div class="element-info">
                        <div class="element-info-keys">displayed</div>
                        <div class="element-info-values" id="element-displayed">none</div>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.38.1/jquery.fancytree-all.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.38.1/jquery.fancytree-all-deps.min.js"></script>
</body>
<script>
    let device_host = "{{.ContainerDeviceConfig.DeviceHost}}"
    let wda_port = "{{.ContainerDeviceConfig.WdaPort}}"
    let wda_url = "http://" + device_host + ":" + wda_port
    let device_os = "{{.ContainerDeviceConfig.DeviceOS}}"
    let appium_port = "{{.ContainerDeviceConfig.DeviceAppiumPort}}"
    let appium_url = "http://" + device_host + ":" + appium_port
    let canvas_width = "{{.CanvasWidth}}"
    let canvas_height = "{{.CanvasHeight}}"
    let screen_size = "{{.ContainerDeviceConfig.ScreenSize}}"
    var wda_session_id
    var appium_session_id

    // On page load add the listeners and start the refresh containers job
    window.addEventListener("DOMContentLoaded", function () {
        if (device_os == "ios") {
            checkWDASession()
        }

        if (device_os == "android") {
            checkAppiumSession()
        }
    });

    document.getElementById("refresh-source").addEventListener('click', () => {
        getAppSource()
    })

    document.getElementById("home-screen").addEventListener('click', () => {
        var url
        var json = "{}"

        // if the device is android use press_keycode endpoint and send keycode 3 which is for the Home button
        // if device is iOS send empty json
        if (device_os.includes("android")) {
            url = appium_url + "/wd/hub/session/" + appium_session_id + "/appium/device/press_keycode"
            json = JSON.stringify({ "keycode": 3 })

        } else if (device_os.includes("ios")) {
            url = wda_url + "/wda/homescreen"
        } else {
            console.log("Device OS does not match 'ios' or 'android'")
            return
        }

        fetch(url, {
            method: 'POST',
            body: json,
            headers: {
                'Content-type': 'application/json'
            }
        })
            .then(() => {
            })
            .catch(function (error) {
                alert("Could not access device homescreen endpoint. Error: " + error)
            })
    })

    document.getElementById("unlock-device").addEventListener('click', () => {

        if (device_os == "android") {
            url = appium_url + "/wd/hub/session/" + appium_session_id + "/appium/device/unlock"
        } else if (device_os == "ios") {
            url = wda_url + "/session/" + wda_session_id + "/wda/unlock"
        } else {
            console.log("Device OS does not match 'ios' or 'android'")
            return
        }

        fetch(url, {
            method: 'POST'
        }).catch(function (error) {
            alert("Could not access device unlock endpoint. Error: " + error)
        })
    })

    document.getElementById("lock-device").addEventListener('click', () => {

        if (device_os == "android") {
            url = appium_url + "/wd/hub/session/" + appium_session_id + "/appium/device/lock"
        } else if (device_os == "ios") {
            url = wda_url + "/session/" + wda_session_id + "/wda/lock"
        } else {
            return
        }

        fetch(url, {
            method: 'POST'
        })
            .then(() => {
            })
            .catch(function (error) {
                alert("Could not access device lock endpoint. Error: " + error)
            })
    })

    document.getElementById("type-text").addEventListener('click', () => {
        typeText()
    })

    document.getElementById("clear-text").addEventListener('click', () => {
        clearActiveElementText()
    })

    document.getElementById("wipe-canvas").addEventListener('click', () => {
        wipeCanvas()
    })

    // check if a wda session exists and connect to it or create a new one
    function checkWDASession() {

        // if there is no session id from the /status endpoint create a new session
        // else just update the session id with the existing session
        fetch(wda_url + "/status", {
            method: 'GET',
            headers: {
                'Content-type': 'application/json'
            }
        })
            .then((response) => {
                return response.json()
            })
            .then((json) => {
                if (json.sessionId === null) {
                    createWDASession()
                } else {
                    wda_session_id = json.sessionId
                }

            })
            .catch(function (error) {
                wda_session_id = null
                alert("Could not get WDA session. Error: " + error)
                window.location.href = "/devices"
            })
    }

    // create a wda session to the iOS device if no session exists
    function createWDASession() {
        let json = ""

        // build the json to create a session
        json = JSON.stringify({
            "capabilities": {
                "firstMatch": [
                    {
                        "arguments": [],
                        "environment": {},
                        "eventloopIdleDelaySec": 0,
                        "shouldWaitForQuiescence": true,
                        "shouldUseTestManagerForVisibilityDetection": false,
                        "maxTypingFrequency": 60,
                        "shouldUseSingletonTestManager": true,
                        "shouldTerminateApp": true,
                        "forceAppLaunch": true,
                        "useNativeCachingStrategy": true,
                        "forceSimulatorSoftwareKeyboardPresence": false
                    }
                ],
                "alwaysMatch": {}
            }
        })

        fetch(wda_url + "/session", {
            method: 'POST',
            body: json,
            headers: {
                'Content-type': 'application/json'
            }
        })
            .then((response) => {
                return response.json()
            })
            .then((json) => {
                wda_session_id = data.sessionId
            })
            .catch(function (error) {
                alert("Could not create WDA session. Error: " + error)
                window.location.href = "/devices"
            })
    }

    async function checkAppiumSession() {

        // build the json to create a session
        json = JSON.stringify({
            "capabilities": {
                "alwaysMatch": {
                    "appium:automationName": "UiAutomator2",
                    "platformName": "Android",
                    "appium:ensureWebviewsHavePages": true,
                    "appium:nativeWebScreenshot": true,
                    "appium:newCommandTimeout": 0,
                    "appium:connectHardwareKeyboard": true
                },
                "firstMatch": [
                    {}
                ]
            },
            "desiredCapabilities": {
                "appium:automationName": "UiAutomator2",
                "platformName": "Android",
                "appium:ensureWebviewsHavePages": true,
                "appium:nativeWebScreenshot": true,
                "appium:newCommandTimeout": 0,
                "appium:connectHardwareKeyboard": true
            }
        })

        let sessions_url = appium_url + "/wd/hub/sessions"
        let session_url = appium_url + "/wd/hub/session"
        const sessions_response = await fetch(sessions_url).then(response => {
            return response.json()
        })
            .catch(function (error) {
                alert("Could not get Appium sessions" + error)
                window.location.href = "/devices"
            })

        if (sessions_response.value.length === 0) {
            const session_response = await fetch(session_url, {
                method: 'POST',
                body: json,
                headers: {
                    'Content-type': 'application/json'
                }
            })
                .then(response => {
                    return response.json()
                })
                .catch(function (error) {
                    alert("Could not create Appium session" + error)
                    window.location.href = "/devices"
                })
            appium_session_id = session_response.value.sessionId
        } else if (sessions_response.value[0].id === null) {
            const session_response = await fetch(session_url, {
                method: 'POST',
                body: json,
                headers: {
                    'Content-type': 'application/json'
                }
            })
                .then(response => {
                    return response.json()
                })
                .catch(function (error) {
                    alert("Could not create Appium session" + error)
                    window.location.href = "/devices"
                })
            appium_session_id = session_response.value.sessionId
        } else {
            appium_session_id = sessions_response.value[0].id
        }
    }

    async function typeText() {
        var active_element_url;
        var element_value_url;

        if (device_os == "android") {
            active_element_url = appium_url + "/wd/hub/session/" + appium_session_id + "/element/active"
        } else if (device_os == "ios") {
            active_element_url = wda_url + "/session/" + wda_session_id + "/element/active"
        } else {
            return
        }

        const control_response = await fetch(active_element_url).then(response => {
            if (response.ok) {
                return response.json()
            } else {
                return null
            }
        })

        var element_id = control_response.value.ELEMENT
        if (device_os == "android") {
            element_value_url = appium_url + "/wd/hub/session/" + appium_session_id + "/element/" + element_id + "/value"
        } else {
            element_value_url = wda_url + "/session/" + wda_session_id + "/element/" + element_id + "/value"
        }

        if (control_response != null) {
            if (element_id != "") {
                var text_input = document.getElementById("type-text-input").value
                await fetch(element_value_url, {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json'
                    },
                    body: JSON.stringify({ "text": text_input })
                }).then(() => {
                    document.getElementById("type-text-input").value = ""
                })
            }
        }
    }

    async function clearActiveElementText() {
        var active_element_url;
        var element_clear_url;

        if (device_os == "android") {
            active_element_url = appium_url + "/wd/hub/session/" + appium_session_id + "/element/active"
        } else if (device_os == "ios") {
            active_element_url = wda_url + "/session/" + wda_session_id + "/element/active"
        } else {
            return
        }

        const control_response = await fetch(active_element_url).then(response => {
            if (response.ok) {
                return response.json()
            } else {
                return null
            }
        })

        var element_id = control_response.value.ELEMENT
        if (device_os == "android") {
            element_clear_url = appium_url + "/wd/hub/session/" + appium_session_id + "/element/" + element_id + "/clear"
        } else {
            element_clear_url = wda_url + "/session/" + wda_session_id + "/element/" + element_id + "/clear"
        }

        await fetch(element_clear_url, {
            method: 'POST'
        })
    }

    //=============CANVAS INTERACTIONS===================//
    // canvas over the WDA image stream that allows us to tap
    // and also draw element rectangles
    var canvas = document.getElementById("actions-canvas")

    var tapStartAt = 0
    var coord1;
    var coord2;

    canvas.addEventListener('mousedown', () => {
        // get the time of clicking the canvas
        tapStartAt = (new Date()).getTime()
        // get the initial coordinates of clicking the canvas
        coord1 = getCursorCoordinates(canvas, event)
        applyCursorRippleEffect(event);
    })

    canvas.addEventListener('mouseup', () => {
        // get the coordinates on finishing the click on the canvas
        coord2 = getCursorCoordinates(canvas, event)
        // get the time of finishing the click on the canvas
        var tapEndAt = (new Date()).getTime()

        var mouseEventsTimeDiff = tapEndAt - tapStartAt

        // if the difference of time between click down and click up is more than 500ms assume it is a swipe, not a tap
        // to allow flick swipes we also check the difference between the gesture coordinates
        // x1, y1 = mousedown coordinates
        // x2, y2 = mouseup coordinates
        // if x2 > x1*1.1 - it is probably a swipe left to right
        // if x2 < x1*0.9 - it is probably a swipe right to left
        // if y2 < y1*0.9 - it is probably a swipe bottom to top
        // if y2 > y1*1.1 - it is probably a swipe top to bottom
        if (mouseEventsTimeDiff > 500 || coord2[0] > coord1[0] * 1.1 || coord2[0] < coord1[0] * 0.9 || coord2[1] < coord1[1] * 0.9 || coord2[1] > coord1[1] * 1.1) {
            performSwipe(coord1, coord2)
        } else {
            // else perform a simple tap at coordinates
            tapCoordinates(coord1)
        }
    })

    function performSwipe(coord1, coord2) {

        var firstCoordX = coord1[0]
        var firstCoordY = coord1[1]
        var secondCoordX = coord2[0]
        var secondCoordY = coord2[1]

        // get stream size and ratio
        let stream_height = canvas_width
        let stream_width = canvas_height
        let stream_size_ratio = (stream_height / stream_width).toFixed(2)

        // get device screen size dimensions
        let deviceSize = $("#device-size").text()
        let dimensions = deviceSize.split('x');
        let deviceHeight = parseInt(dimensions[1], 10)
        let deviceWidth = parseInt(dimensions[0], 10)

        // if the stream height 
        if (stream_height != deviceHeight) {
            firstCoordX = (firstCoordX / stream_width) * deviceWidth
            firstCoordY = (firstCoordY / stream_height) * deviceHeight
            secondCoordX = (secondCoordX / stream_width) * deviceWidth
            secondCoordY = (secondCoordY / stream_height) * deviceHeight
        }

        let jsonData = JSON.stringify({
            "actions": [
                {
                    "type": "pointer",
                    "id": "finger1",
                    "parameters": {
                        "pointerType": "touch"
                    },
                    "actions": [
                        {
                            "type": "pointerMove",
                            "duration": 0,
                            "x": firstCoordX,
                            "y": firstCoordY
                        },
                        {
                            "type": "pointerDown",
                            "button": 0
                        },
                        {
                            "type": "pointerMove",
                            "duration": 750,
                            "origin": "viewport",
                            "x": secondCoordX,
                            "y": secondCoordY
                        },
                        {
                            "type": "pointerUp",
                            "button": 0
                        }
                    ]
                }
            ]
        })

        let session_id;
        if (selected_device_text.includes("android")) {
            let appium_port = $("#appium-port").text()
            session_id = $("#appium-session-id").text()
            url = "http://127.0.0.1:" + appium_port + "/wd/hub/session/" + session_id + "/actions"
        } else {
            let wda_url = $("#wda-url").text()
            session_id = $("#wda-session-id").text()
            url = wda_url + "/session/" + session_id + "/actions"
        }

        // call the /actions endpoint sending the tapp coordinates
        // on response remove the canvas loader
        $.ajax({
            type: "POST",
            contentType: 'application/json',
            data: jsonData,
            url: url,
            success: function () {
            },
            error: function () {
                alert("WDA session is invalid, please reload")
            }
        });
    }

    // get the coordinates of the cursor position of the canvas tap event
    function getCursorCoordinates(canvas, event) {
        // get the canvas rectangle and then the coordinates of the tap event
        const rect = canvas.getBoundingClientRect()
        const x = event.clientX - rect.left
        const y = event.clientY - rect.top
        return [x, y];
    }

    // tap with WDA using coordinates
    function tapCoordinates(pos) {
        // get stream size and ratio
        let stream_size_ratio = (canvas_height / canvas_width).toFixed(2)

        // get device screen size dimensions
        let dimensions = screen_size.split('x');
        let deviceHeight = parseInt(dimensions[1], 10)
        let deviceWidth = parseInt(dimensions[0], 10)

        // set initial x and y tap coordinates
        let x = pos[0]
        let y = pos[1]

        // if the stream height 
        if (canvas_height != deviceHeight) {
            x = (pos[0] / canvas_width) * deviceWidth
            y = (pos[1] / canvas_height) * deviceHeight
        }

        // build the json accepted by the /actions Appium endpoint used by the Appium Inspector
        let jsonData = JSON.stringify({
            "actions": [
                {
                    "type": "pointer",
                    "id": "finger1",
                    "parameters": {
                        "pointerType": "touch"
                    },
                    "actions": [
                        {
                            "type": "pointerMove",
                            "duration": 0,
                            "x": x,
                            "y": y
                        },
                        {
                            "type": "pointerDown",
                            "button": 0
                        },
                        {
                            "type": "pause",
                            "duration": 200
                        },
                        {
                            "type": "pointerUp",
                            "button": 0
                        }
                    ]
                }
            ]
        })

        if (device_os == "android") {
            url = appium_url + "/wd/hub/session/" + appium_session_id + "/actions"
        } else {
            url = wda_url + "/session/" + wda_session_id + "/actions"
        }

        fetch(url, {
            method: 'POST',
            body: jsonData,
            headers: {
                'Content-type': 'application/json'
            }
        })
            .then(() => {
            })
            .catch(function (error) {
                alert("Could not access device homescreen endpoint. Error: " + error)
            })
    }

    function performSwipe(coord1, coord2) {

        var firstCoordX = coord1[0]
        var firstCoordY = coord1[1]
        var secondCoordX = coord2[0]
        var secondCoordY = coord2[1]

        let stream_size_ratio = (canvas_height / canvas_width).toFixed(2)

        // get device screen size dimensions
        let dimensions = screen_size.split('x');
        let deviceHeight = parseInt(dimensions[1], 10)
        let deviceWidth = parseInt(dimensions[0], 10)

        // if the stream height 
        if (canvas_height != deviceHeight) {
            firstCoordX = (firstCoordX / canvas_width) * deviceWidth
            firstCoordY = (firstCoordY / canvas_height) * deviceHeight
            secondCoordX = (secondCoordX / canvas_width) * deviceWidth
            secondCoordY = (secondCoordY / canvas_height) * deviceHeight
        }

        let jsonData = JSON.stringify({
            "actions": [
                {
                    "type": "pointer",
                    "id": "finger1",
                    "parameters": {
                        "pointerType": "touch"
                    },
                    "actions": [
                        {
                            "type": "pointerMove",
                            "duration": 0,
                            "x": firstCoordX,
                            "y": firstCoordY
                        },
                        {
                            "type": "pointerDown",
                            "button": 0
                        },
                        {
                            "type": "pointerMove",
                            "duration": 750,
                            "origin": "viewport",
                            "x": secondCoordX,
                            "y": secondCoordY
                        },
                        {
                            "type": "pointerUp",
                            "button": 0
                        }
                    ]
                }
            ]
        })

        if (device_os == "android") {
            url = appium_url + "/wd/hub/session/" + appium_session_id + "/actions"
        } else {
            url = wda_url + "/session/" + wda_session_id + "/actions"
        }

        fetch(url, {
            method: 'POST',
            body: jsonData,
            headers: {
                'Content-type': 'application/json'
            }
        })
            .then(() => {
            })
            .catch(function (error) {
                alert("Could not access device homescreen endpoint. Error: " + error)
            })
    }

    function applyCursorRippleEffect(e) {
        const ripple = document.createElement("div");

        ripple.className = "ripple";
        document.body.appendChild(ripple);

        ripple.style.left = `${e.clientX}px`;
        ripple.style.top = `${e.clientY}px`;

        ripple.style.animation = "ripple-effect .2s  linear";
        ripple.onanimationend = () => document.body.removeChild(ripple);
    }

    function wipeCanvas() {
        const canvas = document.getElementById('actions-canvas')
        const context = canvas.getContext('2d')
        context.clearRect(0, 0, canvas.width, canvas.height);
    }

    // draw a rectangle for element selected by the app source tree
    // get the element coordinates and size from fancytree node value and build a rectangle on the stream canvas
    // showing the selected element
    function drawRectangleForTree(json) {
        // clear the canvas before drawing a new object
        wipeCanvas()
        const canvas = document.getElementById('actions-canvas')
        const context = canvas.getContext('2d')
        context.fillStyle = "rgba(232, 226, 63, 0.5)";

        let stream_height = canvas.height
        let stream_width = canvas.width

        // get device screen size dimensions
        let dimensions = screen_size.split('x');
        let device_height = parseInt(dimensions[1], 10)
        let device_width = parseInt(dimensions[0], 10)

        let elementX;
        let elementY;
        let elementWidth;
        let elementHeight;
        let appium_height;

        if (device_os == "ios") {
            // get the selected element coordinates and width/height from the json
            elementX = json.x;
            elementY = json.y;
            elementWidth = json.width;
            elementHeight = json.height;
        } else {
            // Get the bounds which are two separate arrays next to each other
            let element_bounds = json.bounds

            // Change the initial bounds string into two values separated by :
            let element_bounds_no_brackets = element_bounds.replaceAll("][", ":").replaceAll("[", "").replaceAll("]", "")

            // Split the separated values into two different arrays
            let bounds_array = element_bounds_no_brackets.split(":")

            // Get the start coordinates from the first bounds array index into their own array
            let start_coordinates = bounds_array[0].split(",")

            // Get the end coordinates from the second bounds array index into their own array
            let end_coordinates = bounds_array[1].split(",")

            // Set the element actual coordinates based on the final arrays
            // Element starting X is the first value of the first array
            elementX = start_coordinates[0]
            // Element starting Y is the second value of the first array
            elementY = start_coordinates[1]
            // Element width is equal to the ending X coordinate from the second array minus the starting X coordinate from the first array
            elementWidth = end_coordinates[0] - start_coordinates[0]
            // Element height is equal to the ending Y coordinate from the second array minus the starting Y coordinate from the first array
            elementHeight = end_coordinates[1] - start_coordinates[1]
        }

        // If the stream height is different than the device screen height
        // Recalculate the element coordinates and width/height
        if (stream_height != device_height) {

            elementX = (elementX / device_width) * stream_width
            elementY = (elementY / device_height) * stream_height
            elementWidth = (elementWidth / device_width) * stream_width
            elementHeight = (elementHeight / device_height) * stream_height

            // draw the rectangle on the canvas using the recalculated element coordinate values
            context.fillRect(
                elementX,
                elementY,
                elementWidth,
                elementHeight
            );
        } else {
            // if the stream height is the same as the device screen height just draw the rectangle with the original values
            context.fillRect(
                elementX,
                elementY,
                elementWidth,
                elementHeight
            );
        }

        console.log(elementX)
        console.log(elementY)
        console.log(elementWidth)
        console.log(elementHeight)
    }

    //=============APP SOURCE===================//
    function getAppSource() {
        var url;

        if (device_os == "android") {
            url = appium_url + "/wd/hub/session/" + appium_session_id + "/source"
        } else if (device_os == "ios") {
            url = wda_url + "/session/" + wda_session_id + "/source"
        } else {
            return
        }

        let app_source = $('#app-source')
        parser = new DOMParser();

        showSourceLoading()
        fetch(url, {
            method: 'GET',
        })
            .then((response) => {
                return response.json()
            })
            .then((json) => {
                // parse the xml doc from the Appium response xml
                xmlDoc = parser.parseFromString(json.value, "text/xml");

                // parse the xml response into a json format accepted by jstree
                if (device_os == "android") {
                    var jstree_json = androidGenerateJSONForTreeFromXML(xmlDoc.documentElement)
                } else {
                    var jstree_json = iOSGenerateJSONForTreeFromXML(xmlDoc.documentElement)
                }

                // If the tree already exists and has children - reload it with the new data
                // If the tree doesn't exist or doesn't have children - initialize it for the first time with the needed options
                if (app_source.children().length > 0) {
                    $.ui.fancytree.getTree().reload(JSON.parse(jstree_json));
                    setTimeout(hideSourceLoading(), 1000)
                } else {
                    app_source.fancytree({
                        'source': [
                            JSON.parse(jstree_json)
                        ],
                        activate: function (event, data) {
                            console.log(data.node.key)
                            var element_values = JSON.parse(data.node.key.replaceAll("'", "\""))
                            showElementInfo(element_values)
                            drawRectangleForTree(element_values)
                        }
                    });
                    setTimeout(hideSourceLoading(), 1000)
                }
            })
            .catch(function (error) {
                alert("Could not get app source. Error: " + error)
                hideSourceLoading()
            })
    }

    // read the Appium xml for an iOS device and transform it into a json accepted by fancytree
    function iOSGenerateJSONForTreeFromXML(node) {
        if (node.nodeType != 1) return "";

        // Get all the data from the xml doc returned by Appium
        var elemType = node.getAttribute('type')
        var elemX = node.getAttribute('x')
        var elemY = node.getAttribute('y')
        var elemWidth = node.getAttribute('width')
        var elemHeight = node.getAttribute('height')
        var elemName = node.getAttribute('name')
        var elemLabel = node.getAttribute('label')
        var elemVisible = node.getAttribute('visible')
        var elemEnabled = node.getAttribute('enabled')
        var elemValue = node.getAttribute('value')

        // this is not a valid json but this is the only way I could find to embed it inside another json (bad developer)
        // it is reworked later into valid json that can be parsed
        value_json = `{'type':'` + elemType + `',` +
            `'x':'` + elemX + `',` +
            `'y':'` + elemY + `',` +
            `'width':'` + elemWidth + `',` +
            `'height':'` + elemHeight + `',` +
            `'name':'` + elemName + `',` +
            `'label':'` + elemLabel + `',` +
            `'visible':'` + elemVisible + `',` +
            `'enabled':'` + elemEnabled + `',` +
            `'value':'` + elemValue + `'}`

        // for each node open with an object
        // the key is the "json" (quotes intended) that will we will read later upon clicking a node in the tree
        // no icons since its not a folder/file structure
        // no lazy loading - the whole tree is loaded
        // no default active nodes in the tree
        // title is the element type
        var mainJson = `{"key":"` + value_json + `", "icon": false, "lazy": false, "active": false,"title":"` + node.nodeName + `"`
        var jsonForChildNodes = "";

        // if the node has children open the children array
        if (node.childNodes.length > 0) {
            mainJson += `, "children":[`
        }
        for (var i = 0; i < node.childNodes.length; i++) {
            // for each child of the main node generate deeper json objects
            jsonForChildNodes += iOSGenerateJSONForTreeFromXML(node.childNodes[i]);
        }
        if (jsonForChildNodes) {
            // close the children array
            mainJson += jsonForChildNodes + `]`
        }
        // close the json object
        mainJson += `}`

        // cus I am a bad developer I couldn't think of the proper way to 
        // build the json with all needed commas so I invented this solution
        // to add the missing commas to make the json valid xD
        mainJson = mainJson.replaceAll("}{", "},{")
        return mainJson;
    }

    // read the Appium xml for an Android device and transform it into a json accepted by fancytree
    function androidGenerateJSONForTreeFromXML(node) {
        if (node.nodeType != 1) return "";

        // Get all the data from the xml doc returned by Appium
        var index = node.getAttribute('index')
        var package = node.getAttribute('package')
        var element_class = node.getAttribute('class')
        var text = node.getAttribute('text')
        var checkable = node.getAttribute('checkable')
        var checked = node.getAttribute('checked')
        var clickable = node.getAttribute('clickable')
        var enabled = node.getAttribute('enabled')
        var focusable = node.getAttribute('focusable')
        var focused = node.getAttribute('focused')
        var long_clickable = node.getAttribute('long-clickable')
        var password = node.getAttribute('password')
        var scrollable = node.getAttribute('scrollable')
        var selected = node.getAttribute('false')
        var bounds = node.getAttribute('bounds')
        var displayed = node.getAttribute('displayed')
        var resource_id = node.getAttribute('resource-id')

        // this is not a valid json but this is the only way I could find to embed it inside another json (bad developer)
        // it is reworked later into valid json that can be parsed
        value_json = `{'index':'` + index + `',` +
            `'package':'` + package + `',` +
            `'class':'` + element_class + `',` +
            `'text':'` + text + `',` +
            `'checkable':'` + checkable + `',` +
            `'checked':'` + checked + `',` +
            `'clickable':'` + clickable + `',` +
            `'enabled':'` + enabled + `',` +
            `'focusable':'` + focusable + `',` +
            `'focused':'` + focused + `',` +
            `'longclickable':'` + long_clickable + `',` +
            `'password':'` + password + `',` +
            `'scrollable':'` + scrollable + `',` +
            `'selected':'` + selected + `',` +
            `'bounds':'` + bounds + `',` +
            `'resourceid':'` + resource_id + `',` +
            `'displayed':'` + displayed + `'}`

        // for each node open with an object
        // the key is the "json" (quotes intended) that will we will read later upon clicking a node in the tree
        // no icons since its not a folder/file structure
        // no lazy loading - the whole tree is loaded
        // no default active nodes in the tree
        // title is the element type
        var mainJson = `{"key":"` + value_json + `", "icon": false, "lazy": false, "active": false,"title":"` + node.nodeName + `"`
        var jsonForChildNodes = "";

        // if the node has children open the children array
        if (node.childNodes.length > 0) {
            mainJson += `, "children":[`
        }
        for (var i = 0; i < node.childNodes.length; i++) {
            // for each child of the main node generate deeper json objects
            jsonForChildNodes += androidGenerateJSONForTreeFromXML(node.childNodes[i]);
        }
        if (jsonForChildNodes) {
            // close the children array
            mainJson += jsonForChildNodes + `]`
        }
        // close the json object
        mainJson += `}`

        // cus I am a bad developer I couldn't think of the proper way to 
        // build the json with all needed commas so I invented this solution
        // to add the missing commas to make the json valid xD
        mainJson = mainJson.replaceAll("}{", "},{")
        return mainJson;
    }

    function showElementInfo(json) {

        if (device_os == "ios") {
            $("#element-type").text(json.type)
            $("#element-name").text(json.name)
            $("#element-label").text(json.label)
            $("#element-value").text(json.value)
            $("#element-enabled").text(json.enabled)
            $("#element-visible").text(json.visible)
            $("#element-x").text(json.x)
            $("#element-y").text(json.y)
            $("#element-width").text(json.width)
            $("#element-height").text(json.height)
        } else {
            $("#element-index").text(json.index)
            $("#element-resourceid").text(json.resourceid)
            $("#element-package").text(json.package)
            $("#element-class").text(json.class)
            $("#element-text").text(json.text)
            $("#element-checkable").text(json.checkable)
            $("#element-checked").text(json.checked)
            $("#element-clickable").text(json.clickable)
            $("#element-enabled").text(json.enabled)
            $("#element-focusable").text(json.focusable)
            $("#element-focused").text(json.focused)
            $("#element-long-clickable").text(json.longclickable)
            $("#element-password").text(json.password)
            $("#element-scrollable").text(json.scrollable)
            $("#element-selected").text(json.selected)
            $("#element-bounds").text(json.bounds)
            $("#element-displayed").text(json.displayed)
        }

    }

    function showSourceLoading() {
        let tree = document.getElementById("app-source")
        tree.style.display = "none"

        let loading = document.getElementById("source-loading")
        loading.style.display = "flex"
    }

    function hideSourceLoading() {
        let tree = document.getElementById("app-source")
        tree.style.display = "block"

        let loading = document.getElementById("source-loading")
        loading.style.display = "none"
    }


</script>

</html>