{{define "device_containers_table"}}
<tr>
    <th>
        <div style="display: flex;">
            <div id="countdown-timer" style="flex: 1;">Refreshing in 5...</div>
            <div>ContainerID</div>
            <div style="flex: 1;"></div>
        </div>
    </th>
    <th>Image Name</th>
    <th>Container Status</th>
    <th>Container Ports</th>
    <th>Container Name</th>
    <th>Logs</th>
    <th>Actions</th>
</tr>
{{range .}}
<tr>
    <td class="container-generic-cells">{{.ContainerID}}</td>
    <td class="container-generic-cells" style="width: 125px;">{{.ImageName}}</td>
    <td class="container-status-cells" style="width: 120px;">{{.ContainerStatus}}
    </td>
    <td class="container-generic-cells" style="width: 700px;font-size: 15px">
        <pre>{{.ContainerPorts}}</pre>
    </td>
    <td class="container-generic-cells" style="width: 350px;">{{.ContainerName}}</td>
    <td class="container-generic-cells" style="text-align:center;width: 125px;">
        <div>
            <button class="info-buttons" id="container-logs-button" value={{.ContainerID}}>Container</button>
            <button class="info-buttons" id="appium-logs-button" value={{.DeviceUDID}}>Appium</button>
            {{ if contains .ContainerName "iOS" }}
            <button class="info-buttons" id="wda-logs-button" value={{.DeviceUDID}}>WDA</button>
            <button class="info-buttons" id="wda-sync-logs-button" value={{.DeviceUDID}}>WDA Sync</button>
            {{else}}
            <button class="info-buttons" id="minicap-logs-button" value={{.DeviceUDID}}>Minicap</button>
            {{end}}
        </div>
    </td>
    <td class="container-generic-cells" style="text-align:center; width: 125px;">
        <div>
            <button class="action-buttons" id="restart-container-button" value={{.ContainerID}}>Restart</button>
            <button class="action-buttons" id="remove-container-button" value={{.ContainerID}}>Remove</button>
        </div>
    </td>
</tr>
{{end}}
{{end}}