#upload-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 10px;
    background-color: #9ba984;
}

#progress-indicator {
    margin-left: 5px;
}

#upload-box {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
}

#input-file {
    display: none;
}