.navbar-wrapper {
    height: 50px;
    display: flex;
    background-color: #496612;
    align-items: center;
}

.navbar {

    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar li {
    list-style-type: none;
}

.nav-bar-logo {
    height: 50px;
}

.nav-bar-button {
    margin: 2px;
}

.selected {
    background-color: #ddd;
    /* or any style you like */
}

.nav-bar-link {
    display: flex;
    text-align: center;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px
}

.social-buttons-wrapper {
    height: 100%;
    display: flex;
    width: auto;
    flex: 1;
    justify-content: right;
    padding-right: 50px;
}

.github-button img {
    width: 50px;
    height: 50px
}

.discord-button img {
    width: 50px;
    height: 50px;
}

.ko-fi-button img {
    height: 50px;
}